@font-face {
  font-family: "Noto Sans";
  src: url("assets/NotoSans-Regular.ttf");
}

* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
}

body {
  background-color: #e9e9e9;
}

a {
  color: #1d1d1d;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

a:hover {
  color: #19aff0;
  background-color: #f4f4f4;
}

h2 {
  font-size: 22px;
}

h3 {
  margin: 10px;
}

.center80{
  margin: auto;
  width: 80%;
}

.sized-box {
  height: 20px;
}

.header {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.title {
  font-size: 30px;
  color: #19aff0;
  padding-right: 50px;
}

.title_a {
  padding: 0;
}

.title_a:hover {
  background-color: #fff;
}

.card {
  background-color: #fff;
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.carousel {
  height: 450px;
  position: relative;
  margin-bottom: 20px;
}

.carousel > div {
  width: 1000px;
  position: absolute;
  top: 0;
  left: calc(50% - 500px);
  opacity: 0;
  animation: display 20s infinite;
}

div:nth-child(2) {
  animation-delay: 4s;
}
div:nth-child(3) {
  animation-delay: 8s;
}
div:nth-child(4) {
  animation-delay: 12s;
}
div:nth-child(5) {
  animation-delay: 16s;
}

.carousel_card {
  height: 450px;
  width: 1000px;
  border-radius: 10px;
}

#carousel_1 {
  background-image: url(./assets/images/stock_image1.jpg);
  background-size: cover;
}

#carousel_2 {
  background-image: url(./assets/images/stock_image2.jpg);
  background-size: cover;
}

#carousel_3 {
  background-image: url(./assets/images/stock_image3.jpg);
  background-size: cover;
}

#carousel_4 {
  background-image: url(./assets/images/stock_image4.jpg);
  background-size: cover;
}

#carousel_5 {
  background-image: url(./assets/images/stock_image5.jpg);
  background-size: cover;
}

.carousel_h2 {
  font-size: 40px;
  position: absolute;
  top: 120px;
  left: 50px;
  padding: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}

.carousel_p {
  font-size: 22px;
  position: absolute;
  top: 240px;
  left: 50px;
  padding: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}

.flexRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.smallcard {
  width: 400px;
  margin: auto;
}

.login-title {
  padding: 10px;
}

input {
  width: 90%;
  padding: 8px 10px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  background-color: #f4f4f4;
}

button {
  width: 30%;
  margin: 10px auto;
  padding: 5px;
  background-color: #f4f4f4;
  color: #19aff0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #19aff0;
  color: #1d1d1d;
}

.image {
  object-fit: cover;
  height: 400px;
  width: 100%;
  border-radius: 10px;
}