@font-face {
  font-family: "Noto Sans";
  src: url("assets/NotoSans-Regular.ttf");
}

* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
}

body {
  background-color: #f2f2f2;
}

a {
  color: #1d1d1d;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

a:hover {
  color: #a5f019;
  background-color: #f4f4f4;
}

h2 {
  font-size: 22px;
  display: inline;
}

h3 {
  margin: 10px;
}

.center80{
  margin: auto;
  width: 80%;
}

.header {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.title {
  font-size: 30px;
  color: #a5f019;
  padding-right: 50px;
}

.card {
  background-color: #fff;
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.carousel {
  height: 450px;
  position: relative;
  margin-bottom: 10px;
}

.carousel > img {
  position: absolute;
  top: 0;
  left: calc(50% - 500px);
  opacity: 0;
  animation: display 20s infinite;
}

img:nth-child(2) {
  animation-delay: 4s;
}
img:nth-child(3) {
  animation-delay: 8s;
}
img:nth-child(4) {
  animation-delay: 12s;
}
img:nth-child(5) {
  animation-delay: 16s;
}

.carousel_image {
  object-fit: cover;
  height: 450px;
  width: 1000px;
  border-radius: 10px;
}

.flexRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.smallcard {
  width: 400px;
  margin: auto;
}

.login-title {
  padding: 10px;
}

input {
  width: 80%;
  padding: 8px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f4f4f4;
}

button {
  margin: 10px;
  padding: 5px 10px;
  background-color: #f4f4f4;
  color: #a5f019;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}

button:hover {
  background-color: #a5f019;
  color: #1d1d1d;
}